.loader-wrapper {
    width: 100%;
    min-height: 100vh;

    .loader-content {
        border-radius: 50%;
        box-shadow: -1px 0px 37px 20px rgba(140,140,140,0.75) inset;
        -webkit-box-shadow: -1px 0px 37px 20px rgba(140,140,140,0.75) inset;
        -moz-box-shadow: -1px 0px 37px 20px rgba(140,140,140,0.75) inset;
    
        .loader-container {
            width: 300px;
            min-height: 300px;
            border-radius: 50%;
            border: 20px solid #fff;
            animation: rotation 2s infinite linear;
            box-shadow: 50px 50px 100px 3px rgba(100,100,100,0.2);
            -moz-box-shadow: 50px 50px 100px 3px rgba(100,100,100,0.2);
            -webkit-box-shadow: 50px 50px 100px 3px rgba(100,100,100,0.2);

            .loader {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                animation: borderAnimation 3s infinite ease; 
            }
        }
    }
    
    h1 {
        color: #222;
        margin-top: 3rem;
        font: 700 4vw sans-serif;
    }
}

@keyframes borderAnimation {
    0% {
        border-right: 2px solid #222;
    }

    50% {
        border-right: 2px solid #222;
        border-bottom: 2px solid #222;
    }

    100% {
        border-right: 2px solid #222;
        border-bottom: 2px solid #222;
        border-left: 2px solid #222;
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
}